body {
  white-space: nowrap;
  text-align: center;
  color: #7dd9ff;
  font-family: 'Menlo', monospace;
  font-size: 1.1vw;
}

a {
  color: #7dd9ff;
  text-decoration: none;
}

a:hover {
  color: white;
}

a.navbar.projects.link {
  color: #a6e22e;
}

a.navbar.projects.link:hover {
  color: white;
}

a.navbar.skills.link {
  color: #fd971f;
}

a.navbar.skills.link:hover {
  color: white;
}

a.navbar.resume.link {
  color: #e6db74;
}

a.navbar.resume.link:hover {
  color: white;
}

a.navbar.contact.link {
  color: #ae81ff;
}

a.navbar.contact.link:hover {
  color: white;
}

.navbar {
  white-space: nowrap;
  text-align: center;
  color: #7dd9ff;
  font-family: 'Menlo', monospace;
  font-size: 2.2vw;
}

.skills.div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.navbar.projects {
  opacity: 0;
  animation: reveal 0.1s 3s forwards;
}

.navbar.skills {
  opacity: 0;
  animation: reveal 0.1s 3.5s forwards;
}

.navbar.resume {
  opacity: 0;
  animation: reveal 0.1s 4s forwards;
}

.navbar.contact {
  opacity: 0;
  animation: reveal 0.1s 4.5s forwards;
}

.navbar.top {
  margin: 0;
  position: absolute;
  top: 10vh;
  left: 50vw;
  z-index: 2;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: 2s;
}

.navbar.center {
  margin: 0;
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: 2;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navbar.bottom {
  margin: 0;
  position: absolute;
  top: 85vh;
  left: 50vw;
  z-index: 2;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: 2s;
}

.typewriter {
  color: #7dd9ff;
  font-family: 'Menlo', monospace;
  font-size: 2.2vw;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2.5s steps(39, end);
}

.projects.fadeOut {
  opacity: 1;
  animation: projects-fade-out ease 2s forwards;
  margin: 0;
  position: absolute;
  top: 10vh;
  left: 50vw;
  z-index: 1;
  width: 100%;
  transition: 2s;
}

.projects.fadeIn {
  opacity: 1;
  animation: projects-fade-in ease 2s forwards;
  margin: 0;
  position: absolute;
  top: 45vh;
  left: 50vw;
  z-index: 1;
  width: 100%;
  transition: 2s;
}

.projects.off {
  opacity: 0;
  top: 10vh;
  left: 50vw;
  z-index: 1;
}

.skills.fadeOut {
  opacity: 1;
  animation: skills-fade-out ease 1.5s forwards;
  margin: 0;
  position: absolute;
  top: 95vh;
  left: 50vw;
  width: 100%;
  transition: 2s;
}

.skills.fadeIn {
  opacity: 0;
  animation: skills-fade-in ease 2.5s forwards;
  margin: 0;
  position: absolute;
  top: 55vh;
  left: 50vw;
  width: 100%;
  transition: 2s;
}

.skills.off {
  opacity: 0;
  top: 90vh;
  left: 50vw;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes projects-fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, -150%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes projects-fade-out {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -150%);
  }
}

@keyframes skills-fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, 0%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes skills-fade-out {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, 50%);
  }
}

.projects.thumbnails-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: black;
  list-style: none;
}

#project-one-links-wrapper,
#project-two-links-wrapper,
#project-three-links-wrapper,
#project-four-links-wrapper,
#project-five-links-wrapper {
  text-align: center;
}

.projects.project-one-image-wrapper {
  content: url('./assets/colorplunk-screenshot.png');
  max-width: 75%;
  height: auto;
}

.projects.project-two-image-wrapper {
  content: url('./assets/grant-lemons-jTCLppdwSEc-unsplash.jpg');
  max-width: 75%;
  height: auto;
}

.projects.project-three-image-wrapper {
  content: url('./assets/biglogo.png');
  max-width: 75%;
  height: auto;
}

.projects.project-four-image-wrapper {
  content: url('./assets/LARK.png');
  max-width: 75%;
  height: auto;
}

.projects.project-five-image-wrapper {
  content: url('./assets/1457633527.svg');
  max-width: 75%;
  height: auto;
}

.projects.project-one-wrapper,
.projects.project-two-wrapper,
.projects.project-three-wrapper,
.projects.project-four-wrapper,
.projects.project-five-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
  overflow: hidden;
}

.skills.javascript-image-wrapper {
  content: url('./assets/javascript.svg');
  max-width: 10%;
  height: auto;
}

.skills.css3-image-wrapper {
  content: url('./assets/css3-original-wordmark.svg');
  max-width: 10%;
  height: auto;
}

.skills.detox-image-wrapper {
  content: url('./assets/detox-icon.svg');
  max-width: 10%;
  height: auto;
}

.skills.git-image-wrapper {
  content: url('./assets/git-plain-wordmark.svg');
  max-width: 10%;
  height: auto;
}

.skills.html5-image-wrapper {
  content: url('./assets/html5-original-wordmark.svg');
  max-width: 10%;
  height: auto;
}

.skills.postgresql-image-wrapper {
  content: url('./assets/postgresql-original-wordmark.svg');
  max-width: 10%;
  height: auto;
}

.skills.redux-image-wrapper {
  content: url('./assets/Redux.svg');
  max-width: 10%;
  height: auto;
}

.skills.rails-image-wrapper {
  content: url('./assets/rails-original-wordmark.svg');
  max-width: 10%;
  height: auto;
}

.skills.react-image-wrapper {
  content: url('./assets/react-original-wordmark.svg');
  max-width: 10%;
  height: auto;
}

.skills.ruby-image-wrapper {
  content: url('./assets/ruby-plain-wordmark.svg');
  max-width: 10%;
  height: auto;
}

.skills.sql-image-wrapper {
  content: url('./assets/sql.svg');
  max-width: 10%;
  height: auto;
}
